@import "../../display/style/style.scss";

.button {
  background-color: rgba(0, 0, 0, 0);
  border-width: 2px;
  cursor: pointer;
  font-size: 21px;
  padding: 6px 2%;
  width: 100%;
}

.input {
  border-bottom-width: 2px;
  font-size: 21px;
  margin-bottom: 6px;
  padding: 6px 2%;
  width: 100%;
}

.link {
  font-size: 21px;
}
.link1 {
  margin-right: 21px;
}

.route {
  .route-title {
    font-size: 35px;
  }
  .route-content {
    max-height: calc(100vh - 95px);
    overflow-y: scroll;
  }
}
